{% extends "base.html" %}

{% block extrahead %}
<script
    defer
    src="https://analytics.d3vyce.fr/script.js"
    data-website-id="338b8816-7b99-4c6a-82f3-15595be3fd47"
></script>
{{ super() }}
{% endblock %}

{% block scripts %}
{% if config.extra.version %}
<script>
  var __cfg = JSON.parse(document.getElementById("__config").textContent);
  __cfg.version = {{ config.extra.version | tojson }};
  document.getElementById("__config").textContent = JSON.stringify(__cfg);
</script>
{% endif %}
{{ super() }}
{% endblock %}
